h2 {
    text-align: center;
}
circle {
    opacity: 0.4;
    stroke: none;
}
div.years_buttons {
    float: left;
    margin-top: 55px;
}

div.years_buttons div {
    background-color: rgb(251, 201, 127);
    padding: 3px;
    margin: 7px;
}

#plotchartContainer{
    float: right;
    margin-top: 20px;

}

#barchartContainer{
    float: left;
}